<?xml version="1.0"?>

<launch>
   <!-- Determine this using rosrun pointgrey_camera_driver list_cameras.
       If not specified, defaults to first camera found. -->
  <arg name="camera_serial" default="14366899" />
  <arg name="calibrated" default="1" />
  <arg name="camera_name" default="pointgrey" />
  <arg name="nodelet_manager_name" default="camera_nodelet_manager" />

  <group ns="$(arg camera_name)">
    <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager" />

    <node pkg="nodelet" type="nodelet" name="camera_nodelet"
          args="load pointgrey_camera_driver/PointGreyCameraNodelet $(arg nodelet_manager_name)" >
      <param name="frame_id" value="blackfly_optical" />
      <param name="serial" value="$(arg camera_serial)" />

      <!-- When unspecified, the driver will use the default framerate as given by the
           camera itself. Use this parameter to override that value for cameras capable of
           other framerates. -->
      <param name="frame_rate" value="30" />
      
      <!-- Use the camera_calibration package to create this file -->
      <param name="camera_info_url" if="$(arg calibrated)"
             value="file://$(env HOME)/.ros/camera_info/$(arg camera_serial).yaml" />
    </node>

    <node pkg="nodelet" type="nodelet" name="image_proc_debayer"
          args="load image_proc/debayer camera_nodelet_manager">
    </node>

    <node pkg="nodelet" type="nodelet" name="rectify_mono"
         args="load image_proc/rectify camera_nodelet_manager"/>

   <!-- Color rectified image -->
   <node pkg="nodelet" type="nodelet" name="rectify_color"
   args="load image_proc/rectify camera_nodelet_manager">
     <remap from="image_mono" to="image_color" />
     <remap from="image_rect" to="image_rect_color" />
   </node>

  </group>
</launch>
