<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="camera" default="/camera/cropped"/>

  <!-- Run the stereo image proc
 -->
  <node ns="$(arg camera)" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc">
    <param name="approximate_sync" value="true"/>
  </node>

  <!-- Viso2 -->
  <node pkg="viso2_ros" type="stereo_odometer" name="stereo_odometer">
    <remap from="stereo" to="$(arg camera)"/>
    <remap from="image" to="image_rect_color"/>
    <param name="base_link_frame_id" value="base_link"/>
    <param name="approximate_sync" value="true"/>
    <param name="publish_tf" value="false"/>
  </node>

</launch>
